#board {
    display: grid;
    grid-template-columns: repeat(var(--size), 40px);
    grid-template-rows: repeat(var(--size), 40px);
}

#number-pad {    
    display: grid;
    grid-template-columns: repeat(var(--size_plus_1), 40px);
    gap: 4px;
    margin-top: 16px;
}
.number-button {
    width: 40px;
    height: 40px;
    font-size: 18px;
}

#check-button {
    width: 100%;
    height: 40px;
    font-size: 18px;
    margin-top: 16px;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}

.cell:focus {
    background-color: #999;
}