#board {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(5, 60px);
    gap: 5px;
}

.cell {
    width: 60px;
    height: 60px;
    background: #333;
    cursor: pointer;
}

.on {
    background: yellow;
}